@model DogModel

<div class="container d-flex justify-content-center align">
    <div class="card w-25 text-center pt-3">
        <div class="card-img-top">
            <img src="~/img/@Model.Image" class="w-75">
        </div>
        <div class="card-body">
            <h1>@Model.Name</h1>
            <h2>Cuteness score: @Model.Cuteness</h2>
        </div>
    </div>
</div>
<h3 class="fw-bolder text-success text-center p-3">Thanks for adopting this dog!</h3>

    
    
